/git-hooks/pre-commit

# Configs for faster builds - see readme / example configs
/.cargo/config.toml
/rust-toolchain.toml

# This is a library - we don't wanna lock deps to specific versions
/Cargo.lock

/target
